CONSUMER_KEY: http://www.last.fm/api/auth/?api_key=2178fe14d66ee129889f0f80e5aae95b
CONSUMER_SECRET: http://www.last.fm/api/auth/?api_key=2db7cbea705ee2a28d499a1abb6512d6
ACCESS_TOKEN_KEY: http://www.last.fm/api/auth/?api_key=2178fe14d66ee129889f0f80e5aae95b
ACCESS_TOKEN_SECRET: http://www.last.fm/api/auth/?api_key=2db7cbea705ee2a28d499a1abb6512d6
LASTFM_KEY: http://www.last.fm/api/auth/?api_key=2178fe14d66ee129889f0f80e5aae95b
LASTFM_USER: jeiwz
POST_FORMAT: "#NowPlaying \"{title}\"{duplicate} via Last.fm {link}"
